### Comparison operators

In [1]:
1 >=4

False

In [2]:
1 == 1

True

In [3]:
2 >1

True

In [4]:
'A' == 'a'

False

In [5]:
1 != 2

True

In [6]:
1 != 1

False

### Logical operators

In [7]:
(1 == 1) and ('a' == 'a')

True

In [8]:
(1 == 2) and ('a' == 'a')

False

In [9]:
(1 == 2) or ('a' == 'a')

True

In [10]:
if 1 == 1:
    print("This is cool!")

This is cool!

In [11]:
if  1==2:
    print("worked")
else:
    print("nope!")

nope!

In [12]:
if 1 ==2:
    print("worked!")
elif 3 == 3:
    print("second is true!")
else:
    print("nope!")

second is true!

### Loops

In [14]:
seq = [1,2,3,4,5]
for item in seq:
    print(item)

1
2
3
4
5

In [15]:
for i in seq:
    print(i)

1
2
3
4
5

In [16]:
for i in seq:
    print('hi')

hi
hi
hi
hi
hi

In [17]:
for element in seq:
    print(element + element)

2
4
6
8
10

In [18]:
i = 1
while i < 5:
    print('i is {}'.format(i))
    i +=1

i is 1
i is 2
i is 3
i is 4

In [19]:
x = [1,2,3,4]

In [23]:
list(range(5))

[0, 1, 2, 3, 4]

In [28]:
list(range(2,5))

[2, 3, 4]

In [29]:
set(range(2,5))

{2, 3, 4}

In [30]:
tuple(range(2,5))

(2, 3, 4)

In [32]:
for x in range(5):
    print(x)

0
1
2
3
4

In [33]:
for x in range(5):
    print('hi')

hi
hi
hi
hi
hi

In [34]:
x = [1,2,3,4,5]

In [37]:
out = []
for num in x:
    out.append(num**2)
    
print("Squares of numbers", out)

Squares of numbers [1, 4, 9, 16, 25]

In [38]:
[num**2 for num in x]

[1, 4, 9, 16, 25]

In [41]:
[num**3 for num in x]

[1, 8, 27, 64, 125]