In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

'C:\\Users\\priya\\Git_Related_Folder\\Python_Crash_Course_For_AI_and_ML\\Pandas'

In [3]:
ls

 Volume in drive C is Windows
 Volume Serial Number is BE44-DB0D

 Directory of C:\Users\priya\Git_Related_Folder\Python_Crash_Course_For_AI_and_ML\Pandas

17-08-2023  11:25    <DIR>          .
14-08-2023  18:52    <DIR>          ..
17-08-2023  11:21    <DIR>          .ipynb_checkpoints
26-10-2022  18:27               177 movie_scores.csv
26-10-2022  18:27            17,727 mpg.csv
14-08-2023  22:28           174,384 Pandas_DataFrame_01.ipynb
15-08-2023  14:53            42,523 Pandas_DataFrame_Apply_Methods.ipynb
16-08-2023  09:19            70,660 Pandas_DataFrame_Combining_Dataframes_Merging.ipynb
17-08-2023  11:25               779 Pandas_DataFrame_CSV_Exercises.ipynb
14-08-2023  23:06           122,058 Pandas_DataFrame_Filtering.ipynb
15-08-2023  17:36           222,905 Pandas_DataFrame_GroupBy_Operations.ipynb
15-08-2023  16:56            55,450 Pandas_DataFrame_Missing_Data.ipynb
15-08-2023  15:17            80,848 Pandas_DataFrame_Sorting.ipynb
17-08-2023  10:45            12,767 Pandas_DataFrame_String_operations.ipynb
17-08-2023  11:19            25,003 Pandas_Dataframe_Time_Date_Timedate_methods.ipynb
14-08-2023  21:17           662,090 Pandas_Series.ipynb
26-10-2022  18:27             5,459 RetailSales_BeerWineLiquor.csv
26-10-2022  18:27            18,752 tips.csv
              15 File(s)      1,511,582 bytes
               3 Dir(s)  912,777,740,288 bytes free

In [4]:
import os

In [5]:
os.getcwd()

'C:\\Users\\priya\\Git_Related_Folder\\Python_Crash_Course_For_AI_and_ML\\Pandas'

In [7]:
df = pd.read_csv('example.csv')

In [8]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [10]:
df1 = pd.read_csv('example.csv',index_col = 0)

In [11]:
df1

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [12]:
df1.to_csv('example_copy_changes.csv')

In [14]:
df2 = pd.read_csv('example_copy_changes.csv')

In [15]:
df2

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15